

.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  .wrapper{
    display: flex;

  }
}

:root {

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.canvasWrap{
  width: 512px;
  height: 512px;
  position: relative;
  border: 16px solid #61dbfb;
  // animation: flicker 1.5s infinite alternate;     

  text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);   
  canvas{
    position: absolute;
    cursor: crosshair;
  }
}

/* Animate neon flicker */
@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}