

.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}


.canvasWrap{
  width: 512px;
  height: 512px;
  position: relative;
  border: 16px solid #61dbfb;
  canvas{
    position: absolute;
    cursor: crosshair;
  }
}